<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.htmldesgin.dao.mapper.TrainingPlanMapper">

    <resultMap id="BaseResultMap" type="org.example.htmldesgin.utils.TrainingPlan">
        <id column="id" property="id"/>
        <result column="projectNo" property="projectNo"/>
        <result column="companyName" property="companyName"/>
        <result column="groupName" property="groupName"/>
        <result column="system" property="system"/>
        <result column="trainer" property="trainer"/>
        <result column="trainingTime" property="trainingTime"/>
        <result column="trainingContext" property="trainingContext"/>
        <result column="trainingDate" property="trainingDate"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, projectNo, companyName, groupName, `system`,
        trainer, trainingTime, trainingContext, trainingDate ,createTime, updateTime
    </sql>

    <select id="selectByDateRange" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM trainingPlan
        WHERE trainingDate BETWEEN #{startDate} AND #{endDate}
        <if test="!includeWeekend">
            AND DAYOFWEEK(trainingDate) NOT IN (1, 7)
        </if>
        <if test="projectNo != null and projectNo != ''">
            AND projectNo = #{projectNo}
        </if>
        ORDER BY groupName, companyName, trainingDate
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id,
               projectNo,
               companyName,
               groupName,
               `system`,
               trainer,
               trainingTime,
               trainingContext,
               trainingDate,
               createTime,
               updateTime
        FROM trainingPlan
        WHERE id = #{id}
    </select>

    <select id="selectCompanyNameByProjectNo" resultType="string">
        SELECT companyName
        FROM project
        WHERE projectNo = #{projectNo}
    </select>

    <select id="selectProjectNosAndMore" resultType="org.example.htmldesgin.utils.TrainingPlan">
        select projectNo, companyName, groupName, `system`
        from project
    </select>

    <insert id="add" parameterType="org.example.htmldesgin.utils.TrainingPlan">
        INSERT INTO trainingPlan (projectNo,
                                  companyName,
                                  groupName,
                                  `system`,
                                  trainer,
                                  trainingTime,
                                  trainingContext,
                                  trainingDate,
                                  createTime,
                                  updateTime)
        VALUES (#{projectNo},
                #{companyName},
                #{groupName},
                #{system},
                #{trainer},
                #{trainingTime},
                #{trainingContext},
                #{trainingDate},
                NOW(),
                NOW())
    </insert>

    <update id="update" parameterType="org.example.htmldesgin.utils.TrainingPlan">
        UPDATE trainingPlan
        SET projectNo       = #{projectNo},
            companyName     = #{companyName},
            groupName       = #{groupName},
            `system`        = #{system},
            trainer         = #{trainer},
            trainingTime    = #{trainingTime},
            trainingContext = #{trainingContext},
            trainingDate    = #{trainingDate},
            updateTime      = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM trainingPlan
        WHERE id = #{id}
    </delete>

</mapper>